body{
    font-family: "CapieN Medium";
}

.header{
    background-color: #D3C5FC;
    height: 150px;
    width: 1920px;
}

*{
    margin: 0;
    padding: 0;
}

.contact-form{
    background-color: #D3C5FC;
    height: 500px;
    width: 1920px;
}

.footer{
    background-color: #AF95F9;
    height: 150px;
    width: 1920px;
}
