body{
    font-family: "CapieN Medium";
}

.header{
    background-color: #f6fcc5;
    height: 150px;
    width: 1920px;
}

*{
    margin: 0;
    padding: 0;
}

.main{
    background-color: #f6fcc5;
    height: 1000px;
    width: 1920px;
}

.footer{
    background-color: #eaf188;
    height: 150px;
    width: 1920px;
}
